ul {
  list-style: none;
}





/* # MESSAGGIO DI AVVISO */
#TopMessage {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}



/* # POPUP CON IL CARRELLO */
#CartPopup {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}